# Pandas Exercise workbook

In [ ]:
import numpy as np
import pandas as pd
import pandas_profiling as pp
import matplotlib as plt

###### 1) creating dictionary of different fruits purchased by customers.######

In [ ]:
fruits={
    'apple': [3,2,0,1],
    'banana': [1,5,2,7],
    'orange': [0,3,7,2],
    'mangoes': [1,2,3,5]
}

###### 2) creating pandas dataframe from a given dictionary######

In [ ]:
dataset=pd.DataFrame(fruits)
print(dataset)
# the first row is default index column which can altered with our own values and details are given in cell below.

###### 3) Altering index value ######

In [ ]:
dataset=pd.DataFrame(fruits, index=[1,2,3,4]) # here index values begins with 1.
dataset

###### 4) Reading csv file from pandas dataframe ######

In [ ]:
mydata=pd.read_csv('C:/Users/Azhar/Desktop/income.csv')
mydata.head()

###### 5) Reading data from excel ######

In [ ]:
excelfile=pd.read_excel('E:/Data Set/Excel/cars.xls')
excelfile.head()

###### 6) Reading data from JSON ######

In [ ]:
myjsonfile=pd.read_json('C:/Users/Azhar/Downloads/unece.json')
#myjsonfile.describe
#print(np.shape(myjsonfile))
myjsonfile.head()

###### 7) Dropping the first default index ######

In [ ]:
mydata=pd.read_csv('C:/Users/Azhar/Desktop/income.csv')
mydata.head()

###### 8) importing csvfile from github in pandas dataframe ######

####### ParserError: Error tokenizing data. C error: #######

In [ ]:
# we shouldn't simply copy the github url but firstly we have to open the csv file in github.
# then we should see 3 options at the top right side of dataset (RAW, BLAME, HISTORY)
# We should click on raw and then copy the url. 

url="https://raw.githubusercontent.com/azhar2ds/DataSets/master/imp.csv"
mydata=pd.read_csv(url, index_col=0)
mydata.head()

###### 9) importing csv file from S3 AWS ######

In [ ]:
AWS_dataset = pd.read_csv("https://s3-ap-southeast-1.amazonaws.com/av-datahack-datacamp/train.csv")
print(AWS_dataset)

###### 10) Finding the observation with help of index #######

In [ ]:
dataset.loc[2]

In [ ]:
mydata.loc[0]

###### 11) importing csv file from google docs ######

In [ ]:
####### Steps ######
# login and open docs
# right click on particular csv file
# open with google sheet
# in url we have to replace Replace “edit#gid” with “export?format=csv&gid”
# then copy the url and paste it in pandas dateframe url.

In [ ]:
#url='docs.google.com/spreadsheets/d/1CE4B6UhCxnndikPSwueK-YIax65q1_mTcpItFZaUEEQ/export?format=csv&gid=725623959'
mydata=pd.read_csv(url)
mydata.head()

###### 12) importing csv zipfile from kaggle ######

###### 13) Reading data from a SQL database ######

In [ ]:
!pip install pypyodbc

In [ ]:
import pypyodbc as podbc
#conn = podbc.connect("Driver={SQL Server};Server=<YourServer>;Database=<YourDatabase>;uid=<YourUserName>;pwd=<YourPassword>"
conn = podbc.connect("Driver={SQL Server};Server=sql;Database=Oracle;uid=azhar;pwd=redhat")
cursor = conn.cursor()
sql = "SELECT * FROM emp"
cursor.execute(sql)
data = cursor.fetchone()
while data:
    print(str(data[0]) + ", " + ... + ", " + str(data[n-1]))
    data = cursor.fetchone()
conn.close()

###### 14) Converting pandas dataframe back to a CSV, XLS & JSON ######

In [ ]:
mydata.to_json('jsonfile.json') #converting to json format

In [ ]:
myjsonfile.to_csv('csvfile.csv, index=False')  #converting to csv format

In [ ]:
myjsonfile.to_excel('excel_file.xls', sheet_name='first', header=False, index=0) #converting to excel format
# we can avoid column names by declaring HEADER = 'False'

###### 15)  Creating multiple sheets in one excel file need [ExcelWriter object] ######

In [ ]:
xolfile=pd.read_excel('E:/Data Set/Excel/beer.xls')

In [ ]:
with pd.ExcelWriter('xolfile.xls') as writer:  
    xolfile.to_excel(writer, sheet_name='one')
    xolfile.to_excel(writer, sheet_name='two')
    xolfile.to_excel(writer, sheet_name='three')
    xolfile.to_excel(writer, sheet_name='four')
xolfile.head()
#We do not require [EXCELWRITER] bject if we are creating one sheet in an excel file

###### 16)  Making any columns as first defualt column] ######

In [ ]:
val=pd.read_excel('E:/Data Set/Excel/andy.xls', index_col='ADVERTISMENT')
val.head()

In [ ]:
mydata=pd.read_csv('C:/Users/Azhar/Data Zone Projects/Daily Notes/income.csv', index_col='grade')
mydata.head()

###### 17) Getting info, describe,shape about your data######

In [ ]:
mydata.head()
mydata.info
mydata.describe
mydata.shape

###### 18) Duplicating the dataframe with same dataframe inorder to find duplicates######

In [ ]:
temp_df = mydata.append(mydata)

In [ ]:
mydata.shape

In [ ]:
temp_df.shape

###### 19) Dropping duplicate values ######

In [ ]:
temp_df.shape

In [ ]:
temp=temp_df.drop_duplicates() #dropping duplicates & assigning it to some temp variable

In [ ]:
temp.shape

In [ ]:
temp_df.shape

###### 20) Dropping duplicate values with different attributes ######

In [ ]:
temp_df2 = mydata.append(mydata)

In [ ]:
temp_df2.shape # here we are deleting the duplicates but we are not assigning it to any variable

In [ ]:
temp_df2.drop_duplicates(inplace=True) # with the help of "inplace" keyword we dont need to assign it any variable

In [ ]:
temp_df2.shape

###### 21) Dropping duplicate values with different attributes ######

In [ ]:
'''Another important argument for drop_duplicates() is KEEP which has three possible options:

1) first: (default) Drop duplicates except for the first occurrence.
2) last: Drop duplicates except for the last occurrence.
3) False: Drop all duplicates.'''

In [ ]:
temp_df.drop_duplicates(inplace=True, keep=first)
temp_df.drop_duplicates(inplace=True, keep=last)
temp_df.drop_duplicates(inplace=True, keep=False)

                                                                                                  Author: azhar
                                                                                                    ID:azhar2ds@gmail.com